@keyframes filling {
    from {
        background-position: center 25%;
    }
    to {
        background-position: center 50%;
    }
}

.main-text {
    background-image: url(/assets/images/honey-bee-water-buckfast-59829.jpeg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #FFFFFF;
    padding-top: 20px;
    font-size: 170px;
    font-family: 'Bungee Inline', cursive;
    animation: filling 3s ease forwards;
}

.second-text {
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 3px 3px #000;
    color: #ffff19;
    font-size: 30px;
}

body {
    background: yellow;
    background-image: url(/assets/images/honeycomb.jpg);
    text-align: center;
    color: gray;
}

li {
    background: #c38988;
    margin: 5px;
    padding: 5px;
}

.mainBTN {
    background-color: #000;
    color: #ffff19;
}

.mainBTN:hover {
    background-color: #595959;
    color: #ffff19;
}

.mainIcons{
    padding-left: 2px;
}

.container {
    background: white;
}

.menu-panel {
    background: #FFF275;
    border-radius: 25px;
    border: 2px solid #FF8C42;
    padding-bottom: 10px;
}

.menu-bee {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    border: 2px solid #FF8C42;
    padding: 10px;
}

.label {
    font-weight: bold;
}

.create-update-form {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.form-group {
    margin-bottom: 5px;
}


#timer { 
    padding-top:20px;
    padding-bottom:25px;
}

#resources { 
    padding-top:40px;
    padding-bottom:25px;
}

#resources h1 { 
    font-size:60px;
    font-weight: strong;
}

#resources p { 
    text-align: left;
    padding-top:10px;
    padding-bottom:20px;
}

#resources a { 
    font-size:20px;
    color:#000;
}